.section__about
    background-color: #665464

.head__about
    background: none

.menu-about
    .pt
        &:hover
            background-color: #91778e


.title__txt-about
    color: #e6d1e3



   